
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@section header {
    Lỗi quyền truy cập !
    }
<div class="alert alert-danger">Bạn không có quyền truy cập vào trang này !</div>

